.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
notebook/ms/docx_template.docx
notebook/ms/ms.docx
notebook/ms/ms.pdf
notebook/ms/.~lock.ms.docx#
notebook/ms/Rd1_comments*
